/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #202020EF;
    background-alt: #35353566;
    foreground:     #EBDBB2FF;
    white:          #FFFFFFFF;
    selected:       #83A59870;
    active:         #9FA11AFF;
    urgent:         #FB4934FF;
}
